/* 自定义垂直滚动条 */
@set mini_scrollbar {
	.base { width: 9px; }
	:root { background-color: #f9f9f9; }
	:root:hover { background-color: #ececec; }
	.base, .prev, .next, .next-page, .prev-page { 
		background-color: transparent; border: none;
	}
	.slider { 
		background: transparent url(/layout/img/sider_normal.png);
		background-position: 3px 0px 3px 0px;
		background-repeat: expand;
	}
	.slider:hover {
		background-image: url(/layout/img/sider_hover.png);
	}
}
@set hiden_scrollbar {
  .base { width: 0px; height: 0px; }
  :root { background-color: #f9f9f9; }
  :root:hover { background-color: #ececec; }
  .base, .prev, .next, .next-page, .prev-page { 
    background-color: transparent; border: none;
  }
  .slider { 
    background-color: transparent;
  }
  .slider:hover {
    background-color: transparent;
  }
}
/*链接基本样式*/
a { color: #369; text-decoration: none; }
a:hover { color: #369; text-decoration: underline; }
/*整体样式*/
html body { 
	margin: 0; border: 1px solid #999;
	font-family: '微软雅黑','宋体';
	background:url(/layout/img/skinbg.png) repeat;
}
/*标题栏*/
#hl_header {
	position: relative; height: 52px; 
	color: #000;
	behavior: windowCommand;
	width:100%;
	border-bottom: 1px solid #CCC;
}
#hl_user_info { width: 224px; height: 52px; background: rgb(133,77,177);float:left;border-bottom: 0px solid #CCC;}
#hl_user_info img.face {
	display: block; width: 38px; height: 38px; margin: 7px 0 0 8px;
	border:1px solid #005897; border-radius: 2px;float:left;
}
#hl_user_info normal {
	display:block;float:left;background:#000;
}
#hl_user_info img.free {
	width: 33px; height: 14px;
	margin: 7px 0 5px 5px;display:block;
}
#user {
	height: 14px; overflow: hidden;
	font-size: 12px; color: #fff; padding-right: 14px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;
	background: url(/layout/img/arr.gif) no-repeat 5px right;
	margin: 0 0 0 9px;
}
#welcome_title {
	width:325px; height: 100%; float: left;
}
#welcome_title strong {
	height: 18px; padding: 4px 8px; width: *; 
  color: #000;
  font-weight:normal;
  font-size:18px;
}
#window-caption-buttons{
  behavior:windowCommand;
  position: absolute;
  right: 0px;
  top: 0;
  height: 30px; 
}
#window-caption-buttons [command] {  
  float: left;
  height: 25px;
  width: 20x;
  line-height: 25px;
  padding: 0px;
  padding-left: 7px;
  font-weight: bolder;
  display: inline-block;
  font-family:"Marlett";
  text-decoration:none;
 
  background-repeat:no-repeat;  
  //transition: blend;
}

[command=window-setting] { 
  color: #888;
}  
[command=window-setting]:hover  {
  background-color: rgb(58,149,222);
  color: #FFF;
}  
[command=window-setting]:active {
}  

[command=window-min] { 
  color: #888;
}  
[command=window-min]:hover {
  background-color: rgb(58,149,222);
  color: #FFF;
}  
[command=window-min]:active {
}  
[command=window-max] {  
  color: #888;
}  
[command=window-max]:hover {
  background-color: rgb(58,149,222);
  color: #FFF;
}  
[command=window-max]:active {
} 
[command="window-restore"] {
  content:"2";/*改变文本,Marlett字体为还原符号*/ 
  color: #888;
} 
[command="window-restore"]:hover  {
  background-color: rgb(58,149,222);
  color: #FFF;
}

[command=window-close]  {  
  color: #888;
  font-weight: normal;
}
[command=window-close]:hover  {
  background-color: rgb(212,64,36);
  color: #FFF;
  border-radius:0px 2px 0px 0px;
}  
[command=window-close]:active {
} 

/*主体内容样式*/
#hl_content { height: *; border-radius: 0 0 2px 2px; flow: horizontal; }
#panel_sider { width: 224px; background-color: rgb(133,77,177); color: #FFF; height: *; overflow: auto; height: 100%; vertical-scrollbar: hiden_scrollbar; }

/*侧边栏*/
#panel_sider a { color: #FFF; text-decoration: none; }
#panel_sider h5 {
	margin: 0; height: 30px; overflow: hidden; border-top: 1px solid #4A4E52;
	font-size: 15px; font-weight: bold; text-indent: 5px; line-height: 30px;
	cursor: pointer; color: #b2b974;
}
#panel_sider h5:hover {
  background-color: #A2A92B; color: #000;
}
#panel_sider h5:active {
	background-color: #FFF; color: #000;
}
#panel_sider h5 font {
	display:inline-block; margin: 0; height: 30px; width:185px;
}
#panel_sider h5 a {
	display:inline-block; width:30px; height:30px; background-image: url(images/add2.png); background-repeat: stretch; line-height: 30px;
}
#panel_sider h5 a:hover {
	background-image: url(images/add2.1.png); background-repeat: stretch; line-height: 30px;
}
#panel_sider h5 a:active {
	background-image: url(images/add2.2.png); background-repeat: stretch; line-height: 30px;
}
#panel_sider ul, #panel_sider ul li {
	list-style: none; padding: 0; margin: 0;
}
#panel_sider ul li a:hover {
	background-color: #A2A92B; color: #fff;
}
#panel_sider ul li a:active {
	background: #A2A92B; color: #fff;
	background-image: url(/layout/img/im.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}
#panel_sider ul li a {
	display: block; height: 30px; line-height: 30px;
	background-image: url(/layout/img/im.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: 30px;
	font-weight: normal;
}
#panel_sider ul li a[selected=true] {
	display: block; height: 30px; line-height: 30px;
	background-image: url(/layout/img/im.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: 30px;
	font-weight: bold; color: #000; 
	//border-left: 4px solid #A2A92B;
	background-color: rgb(200,174,220);
}
#panel_sider ul li a[selected=notice] {
  background-image: url(/layout/img/im_new.png);
  background-position: 10px center;
  background-repeat: no-repeat;
}
#person_sider {
	padding:6px;
}
#person_sider a {
	display: inline-block;
	border: 1px solid #B2B92F;
	margin: 4px;
	border-radius:6px;
	padding: 4px;
	padding-top:2px;
	padding-bottom:2px;
	line-height:16px;
	color: #FFF;
}
#person_sider a:hover {
  background-color: #A2A92B; color: #fff;
}
#person_sider a[selected=true] {
  background-color: #A2A92B; color: #000;
}
#person_sider a[selected=notice] {
  background-color: #b2b92F; color: #FFF;
}

#panel_main { height: *; flow: horizontal; border-radius: 0 0 3px 0; }
#panel_main .list { width: 325px; height: *; color: #4A5E78;}
#panel_main .editor {
	width: *; height: *; color: #000; 
	overflow: hidden; vertical-scrollbar: mini_scrollbar; horizontal-scrollbar: hiden_scrollbar;
	behavior: frame-set;
	flow:vertical;
	border-spacing: 2px; /* width of splitter */
}

#panel_main .list {
  overflow: auto; vertical-scrollbar: mini_scrollbar; horizontal-scrollbar: hiden_scrollbar;
  behavior:htmlarea;
  padding: 1px;
  border-left: 1px solid #CCC;
}
#charInputArea {
  overflow:hidden;
  width:100%;
  height:100%%;
  border: 1px solid #FFF;
  background: transparent;
}
pre {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.message-body {
  margin-left:4px;
  margin-bottom: 20px;
}
.message-body[self] {
  direction: rtl;
  text-align:right;
  color: #4DDE00;
}
.message-body[self] .message-from {
  direction: rtl;
  text-align:right;
  color: #4DDE00;
}
.message-body td {
  padding:2px;
}
.message-content {
  direction: ltr;
  position:relative;
  white-space:pre-line; text-align:left;
  border-radius:4px;border:1px #666 groove;
  padding:3px;
  color:#000;
  margin-top:2px;
  padding-top:15px;
  background-color: #DDD;
}
[for] {
  hover-on!  : $1(#< self.for >):hover = true;
  hover-off! : $1(#< self.for >):hover = false;
}
.message-tools {
  position:absolute;
  top:0px;
  right:4px;
  font-size: 10px;
  padding-right:4px;
  padding-bottom:2px;
  text-align:right;
  display:none;
  width:57px;
}
.message-tools:hover {
  display:block;
}
.message-from {
  
}
.message-ico {
  width: 42px;
}
.message-ico img {
  background-repeat: stretch; 
  border:1px solid #005897; border-radius: 4px; 
  margin-top:0px;
  width:26px;
  height:26px;
}
.message-ico div {
  height:100%%;
}
fieldset {
  margin-top: 15px;
}
legend {
  height:18px;
  width:55px; 
  border-radius:6px;
  background:rgb(133,76,177); 
  padding-left: 8px;
  padding-right: 8px;
  color: #FFF;
}
legend a {
  color: #FFF;
}