/* 自定义垂直滚动条 */
@set mini_scrollbar {
	.base { width: 9px; }
	:root { background-color: #f9f9f9; }
	:root:hover { background-color: #ececec; }
	.base, .prev, .next, .next-page, .prev-page { 
		background-color: transparent; border: none;
	}
	.slider { 
		background: transparent url(/layout/img/sider_normal.png);
		background-position: 3px 0px 3px 0px;
		background-repeat: expand;
	}
	.slider:hover {
		background-image: url(/layout/img/sider_hover.png);
	}
}
/*链接基本样式*/
a { color: #369; text-decoration: none; }
a:hover { color: #369; text-decoration: underline; }
/*整体样式*/
html body { 
	margin: 0; border: 1px solid #999;
	font-family: '微软雅黑','宋体';
}

/*标题栏*/
#hl_header {
	position: relative; height: 52px; 
	background: rgb(245,236,246); color: #000;
	behavior: windowCommand;
	width:100%;
}
#hl_user_info { width: 224px; height: 52px; background: rgb(133,77,177);float:left;border-bottom: 0px solid #CCC;}
#hl_user_info img.face {
	display: block; width: 38px; height: 38px; margin: 7px 0 0 8px;
	border:1px solid #005897; border-radius: 2px;float:left;
}
#hl_user_info normal {
	display:block;float:left;background:#000;
}
#hl_user_info img.free {
	width: 33px; height: 14px;
	margin: 7px 0 5px 5px;display:block;
}
#user {
	height: 14px; overflow: hidden;
	font-size: 12px; color: #fff; padding-right: 14px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;
	background: url(/layout/img/arr.gif) no-repeat 5px right;
	margin: 0 0 0 9px;
}
#welcome_title {
	width:325px; height: 100%; float: left;
}
#welcome_title strong {
	height: 18px; padding: 4px 8px; width: *; 
  color: #000;
  font-weight:normal;
  font-size:18px;
}
#window-caption-buttons{
  behavior:windowCommand;
  position: absolute;
  right: 2px;
  top: 1;
  height: 19px; 
}
#window-caption-buttons [command] {  
  float: left;
  height: 19px;
  width: 26x;
  padding: 0px;
 
  background-repeat:no-repeat;  
  transition: blend;
}

[command=window-setting] { 
  background-position: -4px 0;
  background-image:url( images/caption-buttons.png);
}  
[command=window-setting]:hover  {
  background-image:url( images/caption-buttons-hover2.png);
}  
[command=window-setting]:active {
  background-image:url( images/caption-buttons-active2.png);
}  

[command=window-min] { 
  background-position: -30px 0;
  background-image:url( images/caption-buttons.png);
}  
[command=window-min]:hover {
  background-image:url( images/caption-buttons-hover.png);
}  
[command=window-min]:active {
  background-image:url( images/caption-buttons-active.png);
}  
[command=window-max] { 
  background-position: -30px 0;
  background-image:url( images/caption-buttons.png);
}  
[command=window-max]:hover {
  background-image:url( images/caption-buttons-hover.png);
}  
[command=window-max]:active {
  background-image:url( images/caption-buttons-active.png);
} 

[command=window-close]  { 
  background-position: -56px 0;
  background-image:url( images/caption-buttons.png);
}
[command=window-close]:hover  {
   background-image:url( images/caption-buttons-hover1.png);
}  
[command=window-close]:active {
   background-image:url( images/caption-buttons-active1.png); 
} 

/*主体内容样式*/
#hl_content { height: *; border-radius: 0 0 2px 2px; flow: horizontal; }
#panel_sider { width: 224px; background-color: rgb(133,77,177); color: #FFF; height: *; }
#panel_main { height: *; flow: horizontal; border-radius: 0 0 3px 0; }
#panel_main .list { width: 325px; height: *; background-color: #F7F6F9; color: #4A5E78; }
#panel_main .editor {
	width: *; height: *; color: #000; 
	overflow: auto; vertical-scrollbar: mini_scrollbar;
	behavior:htmlarea;
	background: #F1FAFA;
}

/*侧边栏*/
#panel_sider a { color: #FFF; text-decoration: none; }
#panel_sider h5 {
	margin: 0; height: 30px; border-bottom: 1px solid #4A4E52; overflow: hidden;
	font-size: 14px; font-weight: bold; text-indent: 5px; line-height: 38px;
	cursor: pointer;
}
#panel_sider h5:active {
	background-color: #FFF; color: #000;
}
#panel_sider ul, #panel_sider ul li {
	list-style: none; padding: 0; margin: 0;
}
#panel_sider ul li a:hover {
	background-color: #A2A92B; color: #fff;
}
#panel_sider ul li a:active {
	background: #A2A92B; color: #fff;
	background-image: url(/layout/img/im.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}
#panel_sider ul li a {
	display: block; height: 30px; line-height: 30px;
	background-image: url(/layout/img/im.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: 30px;
	font-weight: normal;
}
#panel_sider ul li a[selected=true] {
	display: block; height: 30px; line-height: 30px;
	background-image: url(/layout/img/im.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: 30px;
	font-weight: bold; color: #000; 
	border-left: 4px solid #A2A92B;
	background-color: rgb(200,174,220);
}
#person_sider {
	padding:6px;
}
#person_sider a {
	behavior:changeTo;
	display: inline-block;
	border: 1px solid #666;
	margin: 4px;
	border-radius:6px;
	padding: 6px;
	padding-top:2px;
	padding-bottom:2px;
	line-height:16px;
	color: #FFF;
}



#panel_main .list p { margin: 20px; font-size: 18px; }
#panel_main .list p strong { margin: 0 5px; font-weight: normal; color: red; }