@charset "UTF-8";
html,body,div,h1,ul,li,select,p,iframe,input,textarea {
	margin: 0;
	padding: 0;
}
body {
	font: normal 13px "sans-serif,Helvetica,Arial,Microsoft YaHei";
	color: #0C0C0C;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
}
html {
	height: 100%;
}

a:link,a:visited,a:hover,a:active {
	list-style: none;
	text-decoration: none;
	color: #909090;
}

a:hover {
	list-style: none;
	text-decoration: underline;
	color: #1A5CC6;
}

.table {
	padding: 0;
	margin: 0;
	position: relative;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
}

.table tbody tr th {
	background: #e0e0e0 no-repeat;
	/*text-align: center;*/
	border-right: 1px solid #fff;
	border-top: 1px solid #e0e0e0;
	text-transform: uppercase;
	font-size: 13px;
	color: #353535;
	padding: 8px;
}

.table tbody tr td {
	/*text-align: center;*/
	border-right: 1px solid #ECECEC;
	border-top: 1px solid #ECECEC;
	font-size: 13px;
	/*color: #909090;*/
	color: #353535;
	padding: 8px;
}

.table tbody tr td a {
	color: #1A5CC6;
}

/* 操作列不换行 */
.table td.opt {
	white-space: nowrap;
}

.ui_text_indent {
	text-indent: 5px;
	clear: both;
}

.ui_text_ct {
	text-align: center;
}

.ui_text_lt {
	text-align: left;
}

.ui_text_rt {
	text-align: right;
}

.ui_flt {
	float: left;
}

.ui_frt {
	float: right;
}

.ui_area01 {
	width: 300px;
	height: 50px;
	margin: 2px 2px 2px 5px;
	outline: 0;
	padding: 5px;
	border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	border-radius: 2px;
	background: #FFF;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow, border-color .5s ease-in-out;
	-moz-transition: box-shadow, border-color .5s ease-in-out;
	-o-transition: box-shadow, border-color .5s ease-in-out;
}

.ui_select01 {
	width: 120px;
	height: 26px;
	margin: 2px 2px 2px 5px;
}

.ui_select02 {
	width: 80px;
	height: 30px;
	margin: 2px 2px 2px 5px;
}

.ui_select03 {
	width: 200px;
	height: 30px;
	margin: 2px 2px 2px 5px;
}

.ui_select04 {
	width: 320px;
	height: 30px;
	margin: 2px 2px 2px 5px;
}

.ui_input_txt01 {
	width: 25px;
	height: 16px;
	margin: 5px 10px 5px 5px;
	outline: 0;
	padding: 3px;
	border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	border-radius: 2px;
	background: #FFF;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow, border-color .5s ease-in-out;
	-moz-transition: box-shadow, border-color .5s ease-in-out;
	-o-transition: box-shadow, border-color .5s ease-in-out;
}

.ui_input_txt02 {
	width: 150px;
	height: 18px;
	margin: 2px 5px 2px 5px;
	outline: 0;
	padding: 3px;
	border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	border-radius: 2px;
	background: #FFF;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow, border-color .5s ease-in-out;
	-moz-transition: box-shadow, border-color .5s ease-in-out;
	-o-transition: box-shadow, border-color .5s ease-in-out;
}

.ui_input_txt03 {
	width: 300px;
	height: 18px;
	margin: 2px 2px 2px 5px;
	outline: 0;
	padding: 5px;
	border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	border-radius: 2px;
	background: #FFF;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow, border-color .5s ease-in-out;
	-moz-transition: box-shadow, border-color .5s ease-in-out;
	-o-transition: box-shadow, border-color .5s ease-in-out;
}

.ui_input_txt_long {
	width: 500px;
}

.ui_input_btn01 {
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-style: none;
	cursor: pointer;
	font-family: "Microsoft YaHei", "微软雅黑", "sans-serif";
	background: url('../images/login/btn.jpg') 0px -1px no-repeat;
}

.ui_input_btn01:hover {
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-style: none;
	cursor: pointer;
	font-family: "Microsoft YaHei", "微软雅黑", "sans-serif";
	background: url('../images/login/btn_hover.jpg') 0px 0px no-repeat;
	color: #fff;
}

.ui_input_btn02 {
	width: 90px;
	height: 30px;
	line-height: 30px;
	color: #4f6b72;
	cursor: pointer;
	color: #4f6b72;
}

.ui_txt_bold01 {
	color: red;
	font-weight: bolder;
}

.ui_txt_bold02 {
	color: green;
	font-weight: bolder;
}

.ui_txt_bold03 {
	color: blue;
	font-weight: bolder;
}

.ui_txt_bold04 {
	color: #4470AF;
	font-weight: bolder;
}

.ui_txt_bold05 {
	color: black;
	font-weight: bolder;
}

.ui_txt_bg01 {
	background: #D1D1C8;
}

.ui_file{
	border:2px solid #D8D2D2; height:25px; line-height:25px; width:189px; margin-left:5px; cursor:pointer;
}

input[type="checkbox"] {
	margin: 3px 3px 3px 6px;
}

input[type="radio"] {
	margin: 3px 3px 3px 6px;
}

span.errmsg {
	color: red;
	margin-left: 10px;
}

.textarea {
	height: 173px;
	width: 508px;
}
