<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/layout/styles/style.css" />
</head>
<body>
	<div style="width:330px">
		<div style="margin:auto;width:70px;">
			<div style="border: 3px solid #CCC;width:67px;height:67px;background-img: url(/layout/face/004.png);" />
			<div style="text-align:center;width:100%;">刘杰</div>
		</div>
		<fieldset>
			<legend>每天123</legend>
			1、RJIM修改了标题栏和一些细节方面的优化，消息提醒等，开会<br />
			2、准备拖大家一起使用一下RJIM+继续优化一下细节问题（包括个人资料和状态的展示等）<br />
			3、暂时无
		</fieldset>
		<fieldset>
			<legend>当前任务状态</legend>
			1、RJIM修改了标题栏和一些细节方面的优化，消息提醒等，开会<br />
			2、准备拖大家一起使用一下RJIM+继续优化一下细节问题（包括个人资料和状态的展示等）<br />
			3、暂时无
		</fieldset>
	</div>
</body>
</html>